@keyframes current {
    /* current page in nav bar changes colors */
    0%   {background-color:rgb(145, 221, 249)}
    25%  {background-color:rgb(66, 163, 247)}
    50%  {background-color:rgb(145, 221, 249)}
    75%  {background-color:rgb(66, 163, 247)}
    100% {background-color:rgb(145, 221, 249)}
}

@keyframes header2 {
    /* header (ex. name of pet) grows and shrinks */
    0%   {font-size: 25px;}
    25%  {font-size: 20px;}
    50%  {font-size: 25px;}
    75%  {font-size: 20px;}
    100% {font-size: 25px;}
}

@keyframes header1 {
    /* header (ex. name of pet) grows and shrinks */
    0%   {font-size: 40px;}
    25%  {font-size: 60px;}
    50%  {font-size: 40px;}
    75%  {font-size: 60px;}
    100% {font-size: 40px;}
}

#display1, #display2, #display3, #display4, #display5, #display6 {
    display: none;
}

a[href="#skip"] {
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-family: "Quicksand", 'Courier';
    color: #0F1F99;
    background-color:#dfe8fd;
    border: solid 3px red;
    transform: translateY(-100%);
}
  
a[href="#skip"]:focus {
    transform: translateY(0%);
}

body {
    font-family: "Quicksand", 'Courier';
    color: #0F1F99;
    background-color: #b3c7f7;
}

nav {
    display: grid;
    /* "Pets", "Travel", "Recipes" */
    background-color:#dfe8fd;
    padding: 5px;
    margin: 15px;
    border-radius: 10px;
    background-color:#dfe8fd;
    justify-content: center;
    justify-self: center;
    align-content: center;
}

nav li {
    display: inline-block;
    padding: 5px;
}

nav a {
    padding: 5px;
    border-radius: 10px;
    text-decoration: underline;
    text-decoration-color: solid blue;
    align-self: center;
}

nav a:hover {
    background-color: rgb(179, 255, 255) !important;
    border: 2px solid blue !important;

}

nav a:focus {
    background-color: rgb(179, 255, 255) !important;
    border: 3px solid red !important;

}

figure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 5px;
    justify-items: center;

	/* Play with: */
	/* justify-content:; */
	/* justify-items:;  */
	/* align-items:; */
	/* align-content:; */
}

h2 { grid-column: 1 / span 3; justify-self: center; }
.country { grid-column: 1 / span 3; }
.image1 { grid-column: 1 / span 3; }
.image1travel { grid-column: 1 / span 3; }

.p1 { grid-column: 1 / span 3; }
.p2 { grid-column: 1 / span 3; }
.p3 { grid-column: 1 / span 3; justify-self: center; }
.thumbnail { grid-column: 1 / span 3; margin-top: 0;}
.p4 { grid-column: 1 / span 3; margin: 10px;}
.ingredients, .recipe-ul { grid-column: 1 / span 3; }
.steps, .recipe-ol { grid-column: 1 / span 3; }

.gallery { grid-column: 1 / span 3; }
.image2, .image3, .image4, .image5, .image6, .figleft, .figright, .figmiddle, .recipemiddle { grid-column: 1 / span 3; }

.likes { grid-column: 1 / span 3; }
.ul { grid-column: 1 / span 3; justify-content: center;}

li, li#dogname, li#destinationm li#food {
    grid-area: 12 / 1 / span 1 / span 3;
    line-height: 1.25;
    font-size: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

h1 {
    font-family: "Quicksand", 'Courier';
    font-size: 40px;
    text-align: center;
    margin: 20px;
    margin-bottom: 10px;

    animation-name: header1;
    animation-duration: 1.5s;
    animation-iteration-count: 1.5;
}

h2 {
    font-family: "Quicksand", 'Courier';
    font-size: 25px;
    color: #0F1F99;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
    justify-content: center;
}

h3 {
    font-family: "Quicksand", 'Courier';
    font-size: 15px;
    color: #0F1F99;
    text-align: center;
    margin: 10px;
}

#dogname, #destination, #food {
    visibility: hidden;
    display: none;
}

#currentpage {
    text-decoration: underline;
    background-color: rgb(145, 221, 249);
    border: solid 2px #0F1F99;
    font-weight:bold;
    text-decoration: underline;
    text-decoration-color: solid blue;

    animation-name: current;
    animation-duration: 1.5s;
    animation-iteration-count: 1.5;
} 

p {
    line-height: 1.25;
    text-indent: 30px;
    font-size: 10px;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.quesadillagrid > p {
    text-indent: 0px;
    padding: 5px;
}

figcaption {
    line-height: 1.25;
    text-align: center;
    font-size: 10px;
    grid-column: 1 / span 3;
    align-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

.country {
    font-family: "Quicksand", 'Courier';
    font-size: 15px;
    color: #0F1F99;
    text-align: center;
    margin: 5px;
}

img {
    border: 5px solid white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    justify-self: center;
    align-self: center;
    padding: 10px;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    transition: transform 1s;
}

img:hover {
    transform: scale(0.75);
}

.image1 {
    margin-top: 0px;
}

/* .thumbnail {
    border: #0F1F99;
}

#skip {
    position: absolute;
    left: -500px;
}

#skip:focus {
    left: 600px;
}

#skip {
    text-transform: uppercase;
}

} */
  
@media screen and (min-width: 600px){

    a[href="#skip"] {
        font-size: 20px;
    }

    #dogname, #destination, #food {
        visibility: visible;
        display: contents;
    }

    h1 {
        margin-left: 120px;
        margin-right: 10px;
        margin-top: 70px;
    }

    ul {
        display: flex;
    }

    nav {
        display: flex;
        position: sticky;
        top: 20px;
        width: 100px;
        float: left;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 90px;
        padding: 5px;
    }

    nav li {
        display: flex;
        padding: 0px;
        margin: 0px;
    }

    a#currentpage {
        padding-left: 5px;
    }

    nav a {
        align-self: flex-start;
        font-weight: bold;
        padding-left: 10;
    }

    li#dogname, li#destination, li#food {
        grid-area: 12 / 1 / span 1 / span 3;
        line-height: 1.25;
        font-size: 10px;
    }

    li#dogname > a, li#destination > a, li#food > a {
        margin-left: 17px;
        font-weight: lighter;
        text-wrap: wrap;
        text-align: left;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: 130px;
    }

    .image1, .image1travel, .country {
        grid-column: 1 / span 4;
    }

    figure {
        grid-template-columns: 1fr 1fr;
    }
    
    .figleft, .image2, .image4, .capleft {
        grid-column: 1 / span 2;
    }
    
    .figright, .image3, .image5, .capright {
        grid-column: 3 / span 2;
    }

    .figmiddle, .recipemiddle {
        grid-column: 2 / span 2;
    }

    .capmiddle {
        grid-column: 1 / span 2;
    }
    
    h2, .p1, .p2, .p3, .thumbnail, .p4, .gallery, .likes, .ul {
        grid-column: 1 / span 4;
    }

    .ingredients { grid-column: 1 / span 2; grid-row: 8 / span 1; }
    .steps { grid-column: 3 / span 2; grid-row: 8 / span 1; }
    .recipe-ul {flex-direction: column; grid-column: 1 / span 2; grid-row: 9 / span 1; }
    .recipe-ol { grid-column: 3 / span 2; grid-row: 9 / span 1; }
      
    .style1:hover {
        background: #067dc2;
        text-decoration: none;
    }

	/* Make this a three column grid using fr.
	.grid{

		/* Why don't we bother with justify here?
	} */
	/* .item3{
		/* Start in row 2 and span two rows 
		   Start in column 2 and span two columns */


		/* What happens if you try to span 3 columns
	} */

	
}

@media screen and (min-width: 768px) {

    .grid {
        margin-left: 160px;
    }

    nav li {
        font-size: 15px !important;
    }
    
    nav {
        width: 130px;
    }

    h2 {
        grid-column: 2 / span 2;
        z-index: 20;
    }

    .gallery {
        display: none;
    }

    .petsgrid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .petsgrid * {
        font-size: 20px;
    }

    .petsgrid h2 {
        font-size: 30px;
    }

    img {
        height: 100%;
        width: 100%;
    }

    .image1 {
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
        margin: 0;
    }

    .image2 {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
    }

    .image3 {
        grid-column: 4 / span 1;
        grid-row: 2 / span 1;
    }

    .image4 {
        grid-column: 3 / span 1;
        grid-row: 3 / span 1;
    }

    .image5 {
        grid-column: 4 / span 1;
        grid-row: 3 / span 1;
    }

    p {
        font-size: 15px;
        margin: 0;
        text-align: left;
    }

    .travelgrid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 80%;
        margin-left: 160px;
    }

    .travelgrid * {
        font-size: 20px;
    }

    .travelgrid h2 {
        font-size: 30px;
    }

    .travelgrid > h2, .country, .capleft, .capmiddle, .capright, #display {
        grid-column: 1 / span 10;
    }

    .gif, .image1travel {
        grid-column: auto / span 5;
        grid-row: 3 / span 2;
    }

    .ptravel {
        grid-column: 1 / span 10;
    }





    figure {
        margin: 0;
        grid-column: auto / span 2 !important;
    }


    #display1, #display2, #display3, #display4, #display5, #display6 {
        display: contents;
        margin-top: 30px;
        display: flex;
        width: 388px;
        height: 180px;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        border:5px solid black;
        padding: 0px 10px;
        color:#FFFFFF;
        background-image: url('../images/blueback.avif');
        background-size: 100%;
        margin-bottom:25px;
        font-size:20px;
        line-height: 20px;
        grid-column: 1 / span 10;
    
        /*For when the image appears*/
        background-repeat: no-repeat;
    }

    figcaption {
        display: none;
    }
    

    .thumbnailrecipe, .img1recipe, .img2recipe, .img3recipe {
        grid-column: auto / span 1;
        grid-row: 5 / span 1;
    }

    .recipemain * {
        font-size: 20px;
    }

    .recipemain h2 {
        font-size: 30px;
    }

    .recipemain .p4 {
        text-indent: 50px;
    }
 


}



@media (prefers-reduced-motion: reduce) {

    img:hover {
        transform: scale(1);
    }

    .gif {
      /* Stop the animation */
      display: none !important;
    }

    #currentpage {
        animation: none;
    }

    h2 {
        animation: none;
    }

    img:hover {
        width: 400px;
    }
}